.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar .sticky-top {
    padding-top: 50px !important;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.sidebar {
    max-height: 100vh;
    overflow-y: scroll;
    position: fixed;
}

.sidebar .nav-link {
    color: #fff !important;
    padding: 10px 10px 10px 10px !important;
    margin: 5px;
}

.sidebar .nav-link:hover {
    color: var(--bs-nav-link-color) !important;
}

.sidebar .nav-link.active:hover {
    color: #fff !important;
}

.subLink {
    margin-left: 20px !important;
}

.subSubLink {
    margin-left: 40px !important;
}

.subSubSubLink {
    margin-left: 60px !important;
}

.toggleNavLink a {
    display: inline-block;
}

.toggleNavLink .toggle{
    padding-left: 20px !important;
    padding-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.toggleNavLink .toggle.collapsed i{
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.toggleNavLink .link{
    padding-left: 0px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pageContent {
    margin-left: 20vw;
}